.login-page{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
.header-container{
  display: flex;
  flex:0.2;
}
.footer-container{
  display: flex;
  flex:0.05;
  flex-direction: row;
  width:100%;
  background-color: rgba(14,30,129,255);
  color: whitesmoke;
}
.footer-copyright{
  flex: 0.5;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
}
.footer-logos{
  flex: 0.4;
  background-color: rgba(14,30,129,255);
  text-align: end;
}
.login-container{
  display: flex;
  flex:0.7;
  width:100%;
  justify-content: center;
}
.login-form{
  flex:0.4;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
}
.login-image{
  flex:0.4;
}
.vertical {
  border-right: 2px solid #E8E8E8;
  height: 45%;
  align-items: flex-end;
  margin-top: 80px;
}
.signin-option{
  display:flex;
  width:100%;
  flex-direction: row;
  align-items: center;
}
.signin-block{
  flex:0.1;
  display:flex;
  width:80%;
  flex-direction: column;
}
.line-container{
  display: flex;
  align-items: center;
}
.signin-form{
  flex:0.7;
  font-size: 14px;
  width:80%;
  font-weight: 500;
  justify-content: center;
  padding-left: 10px;
  text-align: left;
}
.button {
  background-color: rgba(14,30,129,255);
  border-radius: 25px;
  border: none;
  color: white;
  padding: 3px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 4px 2px;
  cursor: pointer;
}